* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(0, 206, 0);
    background-image: url("Ícaro_Rodrigues_summer_cool\ sem\ fundo.png");
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

main {
    background-color: rgb(255, 255, 255);
    min-width: 675px;
    max-width: 675px;
    margin: auto;
    padding: 10px;
    box-shadow: 15px 15px 15px rgb(0, 7, 70);
}

h1 {
    font-size: 2em;
    color: rgb(0, 14, 139);
    text-align: center;
}

h1.img {
    text-align: center;
}

p {
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    text-align: center;
}

a {
    color: rgb(212, 212, 2);
    font-size: 1.0em;
}

strong {
    font-size: 1.0em;
}

em {
    font-size: 1.0em;
}