* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Corpo */
body {
    width: 100%;
    background-image: url("imagens/fundo\ 1.4\ blur.jpeg");
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: cover;
    background-position: center;
}

main {
    background-color: rgb(255, 255, 255);
    min-width: 700px;
    max-width: 700px;
    margin: auto;
    padding: 10px;
    width: 100%;
    box-shadow: 15px 15px 15px rgba(134, 65, 0, 0.534);
}
/* ----------------------------------------------------- */

/* Tipos de texto */
em {
    font-size: 1.5em;
    color: rgb(136, 0, 0);
    text-align: center;
}

h1 {
    font-size: 1.5em;
    color: rgb(148, 0, 0);
    text-align: center;
}

h2 {
    font-size: 1.5em;
    color: rgb(136, 0, 0);
    text-align: center;
}

h3 {
    text-align: center;
    color: rgb(136, 0, 0);
}

h4 {
    text-align: center;
}

u {
    font-size: 1.0em;
}

p {
    text-align: center;
}

p.negrito {
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
}

p.ladoE {
    float: left;
}

figcaption.ladoD {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.692);
    float: right;
}

figcaption.ladoE {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.692);
    float: left;
}

figcaption.centro {
    font-size: 0.8em;
    color: rgb(0, 0, 0);
    text-align: center;
}
/* ---------------------- */

/* imagens */
img.ladoD {
    float: right;
    border: 2px solid black;
}

img.ladoE {
    float: left;
    border: 2px solid black;
}

.img-b {
    width: 100%;
    border: 2px solid black;
}
/* -------------------- */

/* Links */
a {
    font-size: 1.0em;
    text-decoration: none;
    font-weight: bold;
    color: rgb(124, 61, 10);
}

a.fig {
    font-size: 1.0em;
    text-decoration: none;
    font-weight: bold;
    color: rgba(124, 61, 10, 0.616);
}

a:hover {
    text-decoration: underline;
    color: rgb(53, 43, 35);
}
/* ------------------------------ */

/* Box */
.container {
    width: 100%;
}

.container-rodapé {
    border: 3px solid black;
}
/* -------------- */

/* Media query */

@media (max-width: 549px) {

    .container-fig {
        font-size: min(1.35em);
    }

    .container-img {
        font-size: 100%;
        text-align: center;
    }

    .container-550px {
        display: none;
    }

    .container-centro {
        display: block;
        text-align: center;
    }

    .container-ladoD {
        display: block;
        float: right;
    }

    .container-ladoE {
        display: block;
        float: left;
    }

    p {
        font-size: 1.5em;
    }
}

@media (min-width: 550px) {
    .container-centro {
        display: none;
    }

    .container-550px {
        display: block;
    }

    .container-ladoD {
        display: none;
    }

    .container-ladoE {
        display: none;
    }
}
