* {
    font-family: arial, helvetica, sans-serif;
}

/* Corpo */
body {
    width: 100%;
    height: 100%;
    background-image: url("fundo\ 1.6\ blur.jpeg");
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-position: center;
}

main {
    background-color: rgb(255, 255, 255);
    min-width: 700px;
    max-width: 700px;
    margin: auto;
    padding: 10px;
    width: 100%;
    box-shadow: 15px 15px 15px rgba(6, 123, 177, 0.61);
}
/* ----------------------------------------------------- */

/* Tipos de texto */
h1 {
    font-size: 2em;
    color: rgb(46, 2, 2);
    text-align: center;
}

h2 {
    font-size: 1.5em;
    color: rgb(31, 131, 170);
    text-align: center;
}

em {
    font-size: 1.0em;
}
/* ---------------------- */

/* imagens */
img.ladoD {
    float: right;
}

img.ladoE {
    float: left;
}
/* ---------------------- */

/* Links */
a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(24, 24, 163);
}

a.Cold {
    text-decoration: none;
    font-size: 1.0em;
    font-weight: bold;
    color: rgba(179, 39, 39, 0.904);
}

a.Cool {
    text-decoration:none ;
    font-size: 1.0em;
    font-weight: bold;
    color: blue;
}

a.SummerCool {
    text-decoration: none;
    font-size: 1.0em;
    font-weight: bold;
    color: rgb(0, 107, 0);
}

a.Warm {
    text-decoration: none;
    font-size: 1.0em;
    font-weight: bold;
    color: rgb(204, 204, 0);
}

a.Tropical {
    text-decoration: none;
    font-size: 1.0em;
    font-weight: bold;
    color: rgb(226, 123, 4);
}

a.BaseCoat {
    text-decoration: none;
    font-size: 1.0em;
    font-weight: bold;
    color: rgb(145, 22, 6);
}

a:hover {
    text-decoration: underline;
    color: rgb(57, 56, 65);
}
/* -------------------- */

@media (max-width: 715px) {
    .container-715px {
        display: block;
    }

    .container-716px {
        display: none;
    }

    .container-850px {
        display: none;
    }

    body {
        background-image: none;
    }

    main {
        box-shadow: none;
    }
}

@media (min-width: 716px) {
    .container-716px {
        display: block;
    }

    .container-850px {
        display: none;
    }

    .container-715px {
        display: none;
    }

    body {
        background-image: none;
    }

    main {
        box-shadow: none;
    }

}

@media (min-width: 850px) {
    .container-850px {
        display: block;
    }

    .container-715px {
        display: none;
    }

    .container-716px {
        display: none;
    }

    body {
        background-image: block;
    }

    main {
        box-shadow: block;
    }

}