* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(124, 61, 10);
    background-image: url("imagens/fundo\ 1.7\ blur.jpeg");
    background-position: 50%;
}

main {
    background-color: rgba(255, 255, 255, 0.856);
    min-width: 720px;
    max-width: 720px;
    margin: auto;
    padding: 10px;
    box-shadow: 15px 15px 15px rgba(165, 84, 9, 0.61);
}

h1 {
    font-size: 2em;
    color: rgb(128, 60, 11);
    text-align: center;
}

h2 {
    font-size: 1.5em;
    color: rgba(46, 46, 46, 0.849);
}

h3 {
    font-size: 1.2em;
    text-align: center;
    color: rgb(128, 70, 28);
}

figcaption {
    float: left;
    font-size: 0.75em;
    color: rgb(26, 26, 26);
}

figcaption.ladoD {
    float: right;
    font-size: 0.75em;
    color: rgb(26, 26, 26);
}

figcaption.ladoE {
    font-size: 0.75em;
    color: rgb(26, 26, 26);
}

a.ladoE {
    color: rgb(136, 0, 0);
    font-size: 1.0em; 
}

a.ladoD {
    color: rgb(136, 0, 0);
    font-size: 1.0em; 
    float: right;
}

img.ladoE {
    float: left;
}

img.ladoD {
    float: right;
}

em {
    font-size: 1.0em;
}

p {
    color: rgb(66, 29, 2);
    font-size: 1.0em;
    text-align: center;
}

strong {
    font-size: 0.8em;
}