* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgba(124, 58, 5, 0.856);
    background-image: url(imagens/fundo\ 1.8\ 2\ blur.jpeg);
    background-position: 52% 20%;
}

main {
    background-color: white;
    min-width: 700px;
    max-width: 700px;
    margin: auto;
    padding: 10px;
    box-shadow: 15px 15px 15px rgba(197, 92, 6, 0.336);
}

h1 {
    font-size: 2em;
    color: rgb(128, 60, 11);
    text-align: center;
}

u {
    font-size: 1.0em;
    color: rgb(128, 60, 11);
}

p.centro {
    text-align: center;
}

h3 {
    font-size: 1.2em;
    text-align: center;
    color: rgb(128, 70, 28);
}

h3.final {
    text-align: center;
    color: rgb(1, 99, 14);
}

h4 {
    font-size: 1.0em;
    text-align: center;
}

figcaption.ladoE {
    font-size: 0.75em;
    float: left;
    color: rgb(88, 88, 88);
}

figcaption.ladoD {
    font-size: 0.75em;
    float: right;
    color: rgb(88, 88, 88);
}

a.ladoD {
    color: rgb(136, 0, 0);
    font-size: 1.0em; 
    float: right;
}

a.ladoE {
    color: rgb(136, 0, 0);
    font-size: 1.0em; 
}

p {
    color: rgb(66, 29, 2);
    font-size: 1.0em;
    text-align: center;
}

img.ladoD {
    float: right;
}

img.ladoE {
    float: left;
}

em {
    font-size: 1.0em;
}

strong {
    font-size: 1.0em;
}