* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(38, 72, 122);
}

main {
    background-color: rgb(0, 0, 0);
    min-width: 750px;
    max-width: 750px;
    margin: auto;
    padding: 10px;
    box-shadow: 18px 18px 18px rgba(16, 231, 145, 0.911);
}

h1 {
    font-size: 2em;
    color: rgb(14, 90, 14);
    text-align: center;
}

figcaption.ladoD {
    font-size: 0.8em;
    color: rgb(14, 90, 14);
    float: right;
}

figcaption.ladoE {
    font-size: 0.8em;
    color: rgb(38, 72, 122); 
    float: left;  
}

figcaption.centro {
    font-size: 0.8em;
    color: rgb(94, 94, 94);
    text-align: center;
}

img.ladoD {
    float: right;
}

img.ladoE {
    float: left;
}

img.centro {
    text-align: center;
}

p.centro {
    text-align: center;
    color: white;
}

em {
    font-size: 1.0em;
}

u.cool {
    font-size: 0.95em;
    color: rgb(38, 72, 122)
}

u.sc {
    font-size: 0.95em;
    color: rgb(14, 90, 14);
}

@media (max-width: 740px) {
    .container-740px {
        display: block;
    }

    .container-741px {
        display: none;
    }

    .container-787px {
        display: none;
    }
}

@media (min-width: 741px) {
    .container-741px {
        display: block;
    }

    .container-740px {
        display: none;
    }

    .container-787px {
        display: none;
    }
}

@media (min-width: 787px) {
    .container-787px {
        display: block;
    }

    .container-740px {
        display: none;
    }

    .container-741px {
        display: none;
    }
}