* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(124, 61, 10);
    background-image: url("imagens/fundo\ 1.7\ blur.jpeg");
    background-position: 60%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: rgb(255, 255, 255);
    min-width: 720px;
    max-width: 720px;
    margin: auto;
    padding: 10px;
    box-shadow: 15px 15px 15px rgba(165, 84, 9, 0.61);
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

figcaption {
    color: rgb(26, 26, 26);
}

figcaption.ladoD {
    float: right;
}

figcaption.ladoE {
    float: left;
}

a.ladoE {
    color: rgb(172, 54, 54);
    text-decoration: none;
    float: left;
    
}

a.ladoD {
    color: rgb(172, 54, 54);
    text-decoration: none;
    float: right;
}

img.ladoE {
    float: left;
}

img.ladoD {
    float: right;
}

em {
    font-size: 1.0em;
}

p {
    color: rgba(255, 255, 255, 0.897);
    font-size: 1.0em;
    text-align: center;
}

@media (max-width: 449px) {
    .container-449px {
        display: block;
    }

    .container-450px {
        display: none;
    }

    .container-757px {
        display: none;
    }

    main {
        box-shadow: none;
        min-width: 310px;
        max-width: 599px;
    }

    body {
        background-color: white;
        background-image: none;
        background-position: none;
        width: none;
        height: none;
        background-repeat: none;
        background-size: none;
        margin-left: -1px;
    }

    figcaption.centro1 {
        color: white;
        text-align: center;
        border: 3px solid black;
        background-color: black;
        margin-top: -29px;
        margin-left: 15%;
        margin-right: 15%;
        padding-bottom: 1px;
    }

    figcaption.centro2 {
        color: white;
        text-align: center;
        border: 3px solid black;
        background-color: black;
        margin-top: -1px;
        margin-left: 32%;
        margin-right: 32%;
        padding-bottom: 1px;
        padding-top: 1px;
    }

    figcaption.centro3 {
        color: white;
        text-align: center;
        border: 3px solid black;
        background-color: black;
        margin-bottom: 25px;
        margin-top: -1.8em;
        margin-left: 32%;
        margin-right: 32%;
        padding-bottom: 2px;
        padding-top: 1px;
    }

    figcaption.centro4 {
        color: white;
        text-align: center;
        border: 3px solid black;
        background-color: black;
        margin-bottom: 25px;
        margin-top: -1.8em;
        margin-left: 32%;
        margin-right: 32%;
        padding-bottom: 2px;
        padding-top: 1px;
    }

    a {
        color: rgb(172, 54, 54);
    }

    img {
        border: 3px solid black;
    }

    img.back {
        border: none;
        margin-top: -1.5em;
    }

    h1 {
        font-size: 1.6em;
        color: rgb(136, 0, 0);
    }

    h3 {
        font-size: 1.3em;
        color: rgb(128, 34, 34);
    }

    p {
        border: 3px solid black;
        background-color: rgb(184, 44, 44);
        margin-top: 1px;
        margin-bottom: 1px;
        margin-left: 3px;
        margin-right: 3px;
        font-size: 1.15em;
    }
}

@media (min-width: 450px) {
    .container-450px {
        display: block;
    }

    .container-449px {
        display: none;
    }

    .container-757px {
        display: none;
    }

    body {
        background-color: white;
        background-image: none;
        background-position: none;
        width: none;
        height: none;
        background-repeat: none;
        background-size: none;
    }

    main {
        background-color: rgb(255, 255, 255);
        min-width: 720px;
        max-width: 720px;
        margin: none;
        padding: 10px;
        box-shadow: none;
    }

    img {
        border: 3px solid black;
    }

    img.centro {
        margin-right: 20px;
    }

    img.ladoD {
        margin-left: 30px;
    }

    img.ladoE {
        margin-right: 40px;
    }

    img.back {
        margin-top: -10px;
        border: none;
    }

    figcaption.ladoE1-450px {
        float: left;
        color: white;
        font-size: 1.1em;
        border: 3px solid black;
        background-color: black;
        padding-bottom: 1px;
        padding-top: 1px;
        padding-left: 2px;
        padding-right: 2px;
        margin-top: -5px;
    }

    figcaption.ladoE2-450px {
        float: left;
        font-size: 1.1em;
        border: 3px solid black;
        background-color: black;
        margin-top: -3.2em;
        margin-left: 10.65em;
        padding-bottom: 1px;
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 3px;
        color: black;
    }

    figcaption.ladoD1-450px {
        font-size: 1.1em;
        color: white;
        float: right;
        border: 3px solid black;
        background-color: black;
        margin-top: -5px;
        padding-bottom: 1px;
        padding-top: 1px;
        padding-left: 2px;
        padding-right: 2px;
        margin-right: -5.5px;
    }

    figcaption.ladoD2-450px {
        font-size: 1.1em;
        border: 3px solid black;
        background-color: black;
        margin-top: -4.2em;
        margin-right: 7.5em;
        padding-bottom: 1px;
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 3px;
        float: right;
    }

    h1 {
        font-size: 2em;
        color: rgb(136, 0, 0);
    }

    h1.linha {
        margin-top: -10px;
    }

    h3 {
        font-size: 1.25em;
        text-align: center;
        color: rgb(128, 34, 34);
    }

    h3.ladoD {
        margin-right: 15px;
    }

    p.ladoE {
        font-size: 18px;
        border: 3px solid black;
        background-color: rgb(184, 44, 44);
        padding-top: 2px;
        padding-bottom: 2px;
        margin-right: 2em;
    }

    p.ladoD {
        font-size: 18px;
        margin-right:px;
        border: 3px solid black;
        background-color: rgb(184, 44, 44);
        padding-top: 2px;
        padding-bottom: 2px;
        margin-left: 2em;
    }

    a:hover {
        text-decoration: underline;
    }
}

@media (min-width: 757px) {
    .container-757px {
        display: block;
    }

    .container-449px {
        display: none;
    }

    .container-450px {
        display: none;
    }

    body {
        background-color: rgb(124, 61, 10);
        background-image: url("imagens/fundo\ 1.7\ blur.jpeg");
        background-position: 60%;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    main {
        background-color: rgb(255, 255, 255);
        min-width: 720px;
        max-width: 720px;
        margin: auto;
        padding: 10px;
        box-shadow: 15px 15px 15px rgba(165, 84, 9, 0.61);
    }

    img {
        border: 3px solid black;
    }

    img.ladoD {
        margin-right: 5px;
        margin-left: 10px;
    }

    img.ladoE {
        margin-left: 5px;
        margin-right: 20px;
    }

    img.back {
        border: none;
        margin-top: -10px;
    }

    figcaption.ladoE1-757px {
        color: white;
        font-size: 0.95em;
        border: 3px solid black;
        background-color: black;
        padding-bottom: 1px;
        padding-top: 1px;
        padding-left: 2px;
        padding-right: 2px;
        margin-top: -5px;
        float: left;
    }

    figcaption.ladoE2-757px {
        font-size: 0.95em;
        border: 3px solid black;
        background-color: black;
        margin-top: -20.9em;
        margin-left: 0.4em;
        padding-bottom: 1px;
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 3px;
        color: black;
        float: left;
    }

    figcaption.ladoD1-757px {
        font-size: 0.95em;
        color: white;
        float: right;
        border: 3px solid black;
        background-color: black;
        margin-top: -5px;
        padding-bottom: 1px;
        padding-top: 1px;
        padding-left: 2px;
        padding-right: 2px;
        margin-right: -5.5px;
    }

    figcaption.ladoD2-757px {
        font-size: 0.95em;
        border: 3px solid black;
        background-color: black;
        margin-top: -3.1em;
        margin-right: 0.4em;
        padding-bottom: 1px;
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 3px;
        float: right;
    }

    h1 {
        font-size: 2em;
        color: rgb(136, 0, 0);
    }

    h1.linha {
        margin-top: -10px;
    }

    h3 {
        font-size: 1.1em;
        text-align: center;
        color: rgb(128, 34, 34);
    }

    h3.ladoD {
        margin-right: 15px;
    }

    p {
        font-size: 1.0em;
    }

    p.ladoD {
        margin-right: 15px;
    }
}