* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(8, 10, 163);
    background-image: url("Kei\ Kobayashi\ cool\ sem\ fundo.png");
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

main {
    background-color: rgb(255, 255, 255);
    min-width: 665px;
    max-width: 665px;
    margin: auto;
    padding: 10px;
    box-shadow: 15px 15px 15px rgb(0, 155, 216);
}

h1 {
    font-size: 2em;
    color: rgb(4, 172, 238);
    text-align: center;
}

h1.img {
    text-align: center;
}

p {
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    text-align: center;
}

a.sc {
    color: rgb(0, 206, 0);
    font-size: 1.0em;
}

a.cold {
    color: rgba(179, 39, 39, 0.904);
    font-size: 1.0em;
}

a.warm {
    color: rgb(204, 204, 0);
    font-size: 1.0em;
}

strong {
    font-size: 1.0em;
}

em {
    font-size: 1.0em;
}

@media (max-width: 561px) {
    .container-561px {
        display: block;
    }

    .container-562px {
        display: none;
    }

    .container-701px {
        display: none;
    }
}

@media (min-width: 562px) {
    .container-562px {
        display: block;
    }

    .container-561px {
        display: none;
    }

    .container-701px {
        display: none;
    }
}

@media (min-width: 701px) {
    .container-701px {
        display: block;
    }

    .container-561px {
        display: none;
    }

    .container-562px {
        display: none;
    }
}