* {
    font-family: arial, helvetica, sans-serif;
}

/* Corpo */
body {
    width: 100%;
    height: 100%;
    background-image: url("fundo\ 1.6\ blur.jpeg");
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-position: center;
}

main {
    background-color: rgb(255, 255, 255);
    min-width: 700px;
    max-width: 700px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    box-shadow: 15px 15px 15px rgba(6, 123, 177, 0.61);
}
/* ----------------------------------------------------- */

/* Tipos de texto */
h1 {
    font-size: 2em;
    color: rgb(46, 2, 2);
    text-align: center;
    margin-bottom: 1.5em;
}

h1.linha {
    margin-top: -8px;
}

h2 {
    font-size: 1.5em;
    color: rgb(31, 131, 170);
    text-align: center;
}

em {
    font-size: 1.0em;
}
/* ---------------------- */

/* imagens */
img.ladoD {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

img.ladoD-740px {
    float: right;
    margin-top: -10%;
    margin-right: 25%;
}

img.ladoE {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}

img.ladoE-740px {
    float: left;
    margin-top: -68px;
    margin-left: 25%;
}

img.back-741-850px {
    margin-top: -10px;
    margin-left: 1em;
}
/* ---------------------- */

/* Links */
a {
    text-decoration: none;
}

a.Cold {
    font-size: 1.0em;
    color: rgba(179, 39, 39, 0.904);
}

a.Cool {
    font-size: 1.0em;
    color: blue;
}

a.SummerCool {
    font-size: 1.0em;
    color: rgb(0, 107, 0);
}

a.Warm {
    font-size: 1.0em;
    color: rgb(204, 204, 0);
}

a.Tropical {
    font-size: 1.0em;
    color: rgb(226, 123, 4);
}

a.BaseCoat {
    font-size: 1.0em;
    color: rgb(145, 22, 6);
}

a:hover {
    text-decoration: underline;
}

/* -------------------- */

@media (max-width: 599px) {
    .container-599px {
        display: block;
    }

    .container-600px {
        display: none;
    }

    .container-850px {
        display: none;
    }

    body {
        background-color: white;
        background-image: none;
        margin-left: -1px;
    }

    main {
        box-shadow: none;
        min-width: 310px;
        max-width: 599px;
    }

    h2.tipos {
        margin-top: -2em;
        margin-bottom: 3em;
    }

    a.Cold {
        border: 3px solid black;
        padding: 5px;
        box-shadow: -4px 4px 4px rgba(0, 8, 83, 0.863);
    }

    a.Cool {
        border: 3px solid black;
        padding: 5px;
        box-shadow: -4px 4px 4px blue;
    }

    a.SummerCool {
        border: 3px solid black;
        padding: 5px;
        box-shadow: -4px 4px 4px rgb(13, 26, 141);
    }

    a.Warm {
        border: 3px solid black;
        padding: 5px;
        box-shadow: -4px 4px 4px rgb(211, 14, 0);
    }

    a.Tropical {
        border: 3px solid black;
        padding: 5px;
        box-shadow: -4px 4px 4px rgb(226, 123, 4);
    }

    a.BaseCoat {
        border: 3px solid black;
        padding: 5px;
        box-shadow: -4px 4px 4px rgba(226, 0, 0, 0.911);
    }

    img.back-600px {
        margin-left: 5%;
    }
}

@media (min-width: 600px) {
    .container-600px {
        display: block;
    }

    .container-599px {
        display: none;
    }

    .container-850px {
        display: none;
    }

    body {
        background-color: white;
        background-image: none;
        background-repeat: none;
        background-position: none;
        background-position: none;
        background-color: none;
        margin-left: -1px;
    }

    main {
        box-shadow: none;
    }

    h2.tipos1 {
        margin-left: -18.1em;
        margin-bottom: 2.5em;
    }

    a.Cold {
        border: 3px solid black;
        padding: 3px;
        box-shadow: -4px 4px 4px rgba(0, 8, 83, 0.863);
    }

    h2.tipos2 {
        margin-left: -18.1em;
        margin-bottom: 2.5em;
    }

    a.Cool {
        border: 3px solid black;
        padding: 3px;
        box-shadow: -4px 4px 4px blue;
    }

    h2.tipos3 {
        margin-top: -1.45em;
        margin-bottom: 2.5em;   
    }

    a.SummerCool {
        border: 3px solid black;
        padding: 3px;
        box-shadow: -4px 4px 4px rgb(13, 26, 141);
    }

    h2.tipos4 {
        margin-top: -1.3em;
    }

    a.Warm {
        border: 3px solid black;
        padding: 3px;
        box-shadow: -4px 4px 4px rgb(211, 14, 0);
    }

    h2.tipos5 {
        float: right;
        margin-top: -15.02em;
        margin-right: 3.3em;
    }

    a.Tropical {
        border: 3px solid black;
        padding: 3px;
        box-shadow: -4px 4px 4px rgb(226, 123, 4);
    }

    h2.tipos6 {
        float: right;
        margin-top: -2em;
        margin-right: 2.78em;
    }

    a.BaseCoat {
        border: 3px solid black;
        padding: 3px;
        box-shadow: -4px 4px 4px rgba(226, 0, 0, 0.911);
    }

    img.ladoE1-600px {
        margin-left: 2em;
    }

    h1.meio1-600px {
        margin-top: -19.45em;
    }

    h1.ladoD1-600px {
        float: right;
        margin-right: 1em;
        margin-top: -18.33em;
    }

    h1.ladoD2-600px {
        float: right;
        margin-right: 1em;
        margin-top: -8.54em;
    }

    img.back-600px {
        margin-top: 2.3em;
        margin-left: 1em;
    }
}

@media (min-width: 850px) {
    .container-850px {
        display: block;
    }

    .container-599px {
        display: none;
    }

    .container-600px {
        display: none;
    }

    body {
        width: 100%;
        height: 100%;
        background-image: block;
        background-image: url("fundo\ 1.6\ blur.jpeg");
        background-repeat: no-repeat;
        background-position: 100% 0%;
        background-position: center;
        background-color: none;
    }

    main {
        background-color: rgb(255, 255, 255);
        min-width: 700px;
        max-width: 700px;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        box-shadow: 15px 15px 15px rgba(6, 123, 177, 0.61);
    }

    h1.titulo {
        margin-bottom: 1em;
    }

    h2.txt1-850px {
        margin-top: -5.1em;
        margin-left: -6.6em;
    }

    img.ladoD2-850px {
        float: right;
        margin-top: -8.2em;
    }

    h2.txt2-850px {
        float: right;
        margin-right: 1.17em;
        margin-top: -2em;
    }

    a.Cool {
        box-shadow: 4px 4px 4px blue;
    }

    img.ladoE3-850px {
        margin-top: 5em;
    }

    h2.txt3-850px {
        margin-top: -5.2em;
        margin-left: -6.5em;
    }

    img.ladoD4-850px {
        float: right;
        margin-top: -8.2em;
    }

    h2.txt4-850px {
        float: right;
        margin-top: -1.97em;
        margin-right: 0.98em;
    }

    a.Warm {
        box-shadow: 4px 4px 4px rgb(211, 14, 0);
    }

    img.ladoE5-850px {
        margin-top: 5em;
    }

    h2.txt5-850px {
        margin-top: -5em;
        margin-left: -6.5em;
    }

    img.ladoD6-850px {
        float: right;
        margin-top: -8.2em;
    }

    h2.txt6-850px {
        float: right;
        margin-top: -2em;
        margin-right: 1.5em;
    }

    a.BaseCoat {
        box-shadow: 4px 4px 4px rgba(226, 0, 0, 0.911);
    }
}