*{
    font-family: arial, helvetica, sans-serif;
}

/* Corpo */
body {
    width: 100%;
    height: 100%;
    background-image: url("imagens/fundo\ 1.4\ blur.jpeg");
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: cover;
    background-position: center;
}

main {
    background-color: rgb(255, 255, 255);
    min-width: 700px;
    max-width: 700px;
    margin: auto;
    padding: 10px;
    width: 100%;
    box-shadow: 15px 15px 15px rgba(134, 65, 0, 0.534);
}
/* ----------------------------------------------------- */

/* Tipos de texto */
em {
    font-size: 1.5em;
    color: rgb(136, 0, 0);
    text-align: center;
}

.filho4 {
    font-size: 1.0em;
    color: #000000;
}

h1 {
    font-size: 1.5em;
    color: rgb(148, 0, 0);
    text-align: center;
}

h2 {
    font-size: 1.5em;
    color: rgb(136, 0, 0);
    text-align: center;
}

h3 {
    text-align: center;
    color: rgb(136, 0, 0);
}

h4 {
    text-align: center;
}

u {
    font-size: 1.0em;
}

p {
    text-align: center;
}

p.negrito {
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
}

p.ladoE {
    float: left;
}

figcaption.ladoD {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.74);
    float: right;
}

figcaption.ladoE {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.692);
    float: left;
}
/* ---------------------- */

/* imagens */
img.ladoD {
    float: right;
    border: 3px solid black;
}

img.ladoE {
    float: left;
    border: 3px solid black;
}

.img-b {
    width: 100%;
    border: 2px solid black;
}
/* -------------------- */

/* Links */
a {
    font-size: 1.0em;
    text-decoration: none;
    font-weight: bold;
    color: rgb(172, 54, 54);
}

a:hover {
    text-decoration: underline;
    color: rgb(53, 43, 35);
}
/* ------------------------------ */

/* Box */
.container-filho1 {
    width: 100%;
}

.container {
    width: 100%;
}

.container-rodapé {
    border: 5px solid rgb(136, 0, 0);
    background: black;
}

.container-rodapé h3 {
    color: white;
}
/* -------------- */

/* Media Querys */
@media (max-width: 749px) {

    /* Medias Figcaption */
    .container-fig {
        display: none;
    }

    .container-749px figcaption {
        text-align: center;
    }

    figcaption.GC1 {
        color: white;
        text-align: center;
    }

    figcaption.ladoD {
        float: right;
        font-size: 1.35em;
        color: rgba(0, 0, 0, 0.459);
    }

    .container-figLadoD {
        display: none;
    }

    .container-figLadoD2 {
        display: none;
    }

    .container-figLadoD3 {
        display: none;
    }

    figcaption.ladoD-750px {
        display: none;
    }

    .container-figGD1 {
        font-size: 1.1em;
        color: rgb(255, 255, 255);
        float: right;
        margin-right: 10px;
        margin-top: -6px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 1px;
        padding-top: 1px;
        border: 4px solid black;
        background: rgb(0, 0, 0);
    }

    .container-figGD2 {
        font-size: 1.1em;
        color: rgb(255, 255, 255);
        float: right;
        margin-right: 10px;
        margin-top: -6px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 1px;
        padding-top: 1px;
        border: 4px solid black;
        background: rgb(0, 0, 0);
    }

    .container-figGD3 {
        font-size: 1.35em;
        float: right;
        margin-right: 115px;
        margin-top: -8px;
        padding-right: 4px;
        padding-left: 3px;
        padding-bottom: 2px;
        border: 4px solid black;
        background: rgb(0, 0, 0);
    }

    .container-figGCD1 {
        font-size: 1.1em;
        text-align: center;
        margin-left: 19.5em;
        margin-top: -1em;
    }

    .container-figGCD1 a {
        background: rgb(0, 0, 0);
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 4px;
        padding-top: 4px;
    }

    .container-figGCD2 {
        font-size: 1.1em;
        text-align: center;
        margin-left: 19.3em;
        margin-top: -20px;
    }

    .container-figGCD2 a {
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 1px;
        padding-top: 1px;
        border: 4px solid black;
        background: rgb(0, 0, 0);
    }

    .container-figGCD3 {
        font-size: 1.1em;
        text-align: center;
        margin-left: 17.7em;
        margin-top: -19px;
    }

    .container-figGCD3 a {
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 1px;
        padding-top: 1px;
        border: 4px solid black;
        background: rgb(0, 0, 0);
    }

    .container-figLadoE1 {
        display: none;
    }

    .container-figLadoE2 {
        display: none;
    }

    .container-figLadoE3 {
        display: none;
    }

    .container-figLadoE4 {
        display: none;
    }

    figcaption.ladoE-750px {
        display: none;
    }

    .container-figGE1 {
        font-size: 1.1em;
        color: rgb(255, 255, 255);
        float: left;
        margin-left: 10px;
        margin-top: -6px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 1px;
        padding-top: 1px;
        background: #000000;
        border: 4px solid black;
    }

    .container-figGE2 {
        font-size: 1.1em; 
        float: left;
        margin-left: 10px;
        margin-top: -6px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 1px;
        padding-top: 1px;
        background: #000000;
        border: 4px solid black;
    }

    .container-figGE3 {
        font-size: 1.1em;
        color: rgb(255, 255, 255);
        float: left;
        margin-left: 10px;
        margin-top: -6px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 1px;
        padding-top: 1px;
        background: #000000;
        border: 4px solid black;
    }

    .container-figGE4 {
        font-size: 1.35em;
        float: left;
        margin-left: 86px;
        margin-top: -10px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 3px;
        padding-top: 1px;
        background: #000000;
        border: 4px solid black;
    }

    .container-figGCE1 {
        text-align: center;
        font-size: 1.2em;
        margin-left: -19.5em;
        margin-top: -4px;
        color: rgb(255, 255, 255);
    }

    .container-figGCE1 a {
        background: #000000;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 4px;
        padding-top: 4px;   
    }

    .container-figGCE2 {
        text-align: center;
        font-size: 1.1em;
        margin-left: -19.7em;
        margin-top: -4px;
        color: rgb(255, 255, 255);
    }

    .container-figGCE2 a {
        background: #000000;
        border: 3px solid black;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 1px;
        padding-top: 1px;   
    }

    .container-figGCE3 {
        text-align: center;
        font-size: 1.1em;
        margin-left: -16.7em;
        margin-top: -4px;
        color: rgb(255, 255, 255);
    }

    .container-figGCE3 a {
        background: #000000;
        border: 3px solid black;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 1px;
        padding-top: 1px;   
    }

    .container-figGC1 {
        text-align: center;
        font-size: 1em;
        color: rgb(255, 255, 255);
        margin-top: -8.5px;
        margin-left: 5.7em;
        margin-right: 5.7em;
        background-color: black;
        border: 3px solid black;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .container-figGC2 {
        text-align: center;
        font-size: 1em;
        color: rgb(255, 255, 255);
        margin-top: -9px;
        margin-left: 6.5em;
        margin-right: 6.5em;
        background-color: black;
        border: 3px solid black;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .container-figGC3 {
        text-align: center;
        font-size: 1em;
        color: rgb(255, 255, 255);
        margin-top: -8px;
        margin-left: 5.8em;
        margin-right: 5.8em;
        background-color: black;
        border: 3px solid black;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .container-figGC4 {
        text-align: center;
        font-size: 1em;
        color: rgb(255, 255, 255);
        margin-top: -8px;
        margin-left: 6.9em;
        margin-right: 6.9em;
        background-color: black;
        border: 3px solid black;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .container-figGC5 {
        text-align: center;
        font-size: 1em;
        color: rgb(255, 255, 255);
        margin-top: -8px;
        margin-left: 11em;
        margin-right: 11em;
        background-color: black;
        border: 3px solid black;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .container-figGC6 {
        text-align: center;
        font-size: 1em;
        color: rgb(255, 255, 255);
        margin-top: -7.5px;
        margin-left: 10em;
        margin-right: 10em;
        background-color: black;
        border: 3px solid black;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .container-figGC7 {
        margin-top: -2em;
        text-align: center;
        font-size: 1em;
        color: rgb(255, 255, 255);
        background-color: black;
        border: 3px solid black;
        margin-left: 6.5em;
        margin-right: 6.5em;
        padding: 3px;
    }
    /* ---------------------------------------- */

    /* Media Imagem */
    .container-img-749px img {
        text-align: center;
        border: 5px solid black;
    }

    .container-img-750px {
        display: none;
    }

    .container-imgC-750px {
        display: none;
    }

    .container-centro img {
        border: 5px solid rgb(0, 0, 0);
    }

    .container-ladoCD2 {
        margin-left: 11em;
        margin-right: 3em;
        margin-top: -11em;
        margin-bottom: 11em;
    }

    .container-ladoCD2 img {
        border: 4.5px solid black;
        margin-top: 4em;
        margin-left: 2.5em;
    }

    .container-ladoCE2 {
        margin-left: -14em;
        padding-left: 30px;
        margin-top: -5.5em;
    }

    .container-ladoCE2 img {
        border: 4.5px solid black;
    }

    .container-ladoCE {
        margin-left: -14em;
        padding-left: 30px;
    }

    .container-ladoCE img {
        border: 4.5px solid black;
    }

    .container-ladoCD {
        margin-left: 11em;
        margin-right: 3em;
    }

    .container-ladoCD img {
        border: 4.5px solid black;
        margin-top: -2em;
        margin-left: 2em;
    }
    /* --------------------------------------- */

    /* Media textos */
    p {
        font-size: 1.4em;
    }

    .container-centro {
        text-align: center;
    }

    .container-espaço {
        display: block;
    }

    .container-espaço2 {
        display: none;
    }

    .container-lateralE {
        padding-left: 30px;
    }

    .container-lateralD {
        padding-right: 30px;
    }

    .container-filho2-749px {
        font-size: 1.25em;
    }

    .container-filho3-749px {
        font-size: 1.20em;
    }

    .container-filho4-749px {
        font-size: 1.40em;
    }

    .container-guia-749px {
        font-size: 1.20em;
    }

    .container-guia-750px {
        display: none;
    }

    .container-centro-txt {
        margin-left: 4.5em;
        margin-right: 4.5em;
    }

    .container-centro-txt p {
        font-size: 1.2em;
        color: rgb(216, 211, 211);
        background-color: rgb(184, 44, 44);
        border: 3px solid black;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .container-ladoCE-txt {
        margin-right: 11.5em;
        margin-left: 2.5em;
    }

    .container-ladoCE2-txt {
        margin-right: 11em;
    }

    .container-ladoCE-txt p {
        color: rgb(216, 211, 211);
        background-color: rgb(184, 44, 44);
        border: 3px solid black;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 1.15em;
        margin-top: -10em;
        margin-bottom: 10em;
        padding-right: 3.5em;
    }

    .container-ladoCE2-txt p {
        font-size: 1.15em;
        color: rgb(216, 211, 211);
        border: 3px solid black;
        background-color: rgb(184, 44, 44);
        padding-top: 4px;
        padding-bottom: 4px;
        margin-top: -20em;
        margin-bottom: 4.5em;
        padding-right: 0.5em;
    }

    .container-ladoCD p {
        color: rgb(216, 211, 211);
        font-size: 1.15em;
        margin-top: -10em;
        margin-bottom: 10em;
        padding-left: 2em;
        padding-top: 4px;
        padding-bottom: 4px;
        border: 3px solid black;
        background-color: rgb(184, 44, 44);
    }

    .container-ladoCD2 p {
        color: rgb(216, 211, 211);
        font-size: 1.15em;
        padding-left: 3.5em;
        border: 3px solid black;
        background-color: rgb(184, 44, 44);
    }
    /* ----------------------------- */

    /* Media Videos */
    .container-749px-video iframe {
        border: 3px solid black;
        width: 80%;
    }

    .container-750px-video {
        display: none;
    }
    /* -------------------------------------- */

    /* Media links */
    a {
        text-decoration: underline;
    }

    .container-ladoCE-txt a {
        color: rgb(53, 13, 13);
    }

    .container-ladoCE2-txt a {
        color: rgb(53, 13, 13);   
    }

    .container-ladoCD a {
        color: rgb(53, 13, 13);
    }

    .container-ladoCD2 a {
        color: rgb(53, 13, 13);
    }


    /* Media Geral */
    body {
        background-color: black;
        width: none;
        height: none;
        background-image: none;
        background-repeat: none;
        background-position: none;
        background-size: none;
        background-position: none;
    }

    main {
        background-color: rgb(255, 255, 255);
        min-width: 420px;
        max-width: 749px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: -8px;
        padding: 10px;
        box-shadow: none;
    }

    .container-750px {
        display: none;
    }
}

@media (min-width: 750px) {

    /* Media Figcaption */
    .container-fig {
        display: block;
    }

    figcaption.ladoD {
        display: none;
    }

    .container-figLadoD1 {
        text-align: center;
        margin-right: 67px;
        margin-top: -4px;
    }

    .container-figLadoD2 {
        margin-right: 80px;
        margin-top: -4.5px;
    }

    .container-figLadoD3 {
        margin-right: 120px;
        margin-top: -23.5px;
    }

    figcaption.ladoD-750px {
        font-size: 0.95em;
        color: rgba(255, 255, 255, 0.856);
        float: right;
        padding-top: 1px;
        padding-right: 3px;
        padding-left: 4px;
        padding-bottom: 4px;
        background: black;
        border: 3px solid black;
    }

    .container-figLadoE1 {
        margin-left: 25px;
        margin-top: -1px;
    }

    .container-figLadoE2 {
        margin-left: 120px;
        margin-top: -4px;
    }

    .container-figLadoE3 {
        margin-left: 30px;  
        margin-top: -2px; 
    }

    .container-figLadoE4 {
        margin-left: 105px;
        margin-top: -4px;
    }

    figcaption.ladoE-750px {
        font-size: 0.95em;
        float: left;
        color: rgba(255, 255, 255, 0.856);
        padding-top: 2px;
        padding-right: 4px;
        padding-left: 4px;
        padding-bottom: 4px;
        background: black;
        border: 3px solid black;
    }

    .container-figGD1 {
        display: none;
    }

    .container-figGD2 {
        display: none;
    }

    .container-figGD3 {
        display: none;
    }

    .container-figGE1 {
        display: none;
    }

    .container-figGE2 {
        display: none;
    }

    .container-figGE3 {
        display: none;
    }

    .container-figGE4 {
        display: none;
    }

    .container-figGC1 {
        display: none;
    }

    .container-figGC2 {
        display: none;
    }

    .container-figGC3{
        display: none;
    }

    .container-figGC4 {
        display: none;
    }

    .container-figGC5 {
        display: none;
    }

    figcaption.centro1 {
        font-size: 1.0em;
        color: rgba(255, 255, 255, 0.856);
        text-align: center;
        margin-top: -5px;
        margin-left: 145px;
        margin-right: 145px;
        padding-top: 4px;
        padding-bottom: 4px;
        background: black;
    }

    figcaption.centro2 {
        font-size: 1.0em;
        color: rgba(255, 255, 255, 0.856);
        text-align: center;
        margin-left: 18em;
        margin-right: 18em;
        margin-top: -5px;
        padding-top: 2px;
        padding-bottom: 2px;
        background: black;
        border: 3px solid black;
    }

    figcaption.centro3 {
        font-size: 1.0em;
        color: rgba(255, 255, 255, 0.856);
        text-align: center;
        margin-left: 15em;
        margin-right: 15em;
        margin-top: -10px;
        padding-top: 4px;
        padding-bottom: 3px;
        background: black;
        border: 3px solid rgb(172, 54, 54);
    }

    figcaption.centro4 {
        font-size: 1.0em;
        color: rgba(255, 255, 255, 0.856);
        text-align: center;
        margin-left: 14em;
        margin-right: 14em;
        margin-top: -10px;
        padding-top: 4px;
        padding-bottom: 3px;
        background: black;
        border: 3px solid rgb(172, 54, 54);
    }
    /* --------------------------- */

    /* Media Imagens */
    .container-img-749px {
        display: none;
    }

    .container-img-749px img {
        display: none;
    }

    .container-img-750px img {
        border: 3px solid black;
    }

    .container-imgC-750px {
        text-align: center;
    }

    .container-imgC-750px img {
        border: 3px solid black;
    }

    .container-centro img {
        display: none;
    }

    .container-ladoD {
        display: none;
    }

    .container-ladoD img {
        display: none;
    }

    .container-ladoE {
        display: none;
    }

    .container-ladoE img {
        display: none;
    }
    /* ------------------------------ */

    /* Media Textos */
    .container-centro {
        display: none;
    }

    .container-espaço {
        display: none;
    }

    .container-espaço2 {
        display: block;
    }

    .container-lateralE {
        display: none;
    }

    .container-lateralD {
        display: none;
    }

    .container-filho2-749px {
        display: none;
    }

    .container-filho3-749px {
        display: none;
    }

    .container-filho4-749px {
        display: none;
    }

    a.descrição {
        color: rgb(172, 54, 54);
    }

    .container-guia-749px {
        display: none;
    }
    /* --------------------------- */

    /* Media Videos */
    .container-749px-video {
        display: none;
    }

    .container-749px-video iframe {
        display: none;
    }

    .container-750px-video {
        display: block;
    }

    .container-750px-video iframe {
        border: 3.5px solid black;
    }
    /* -------------------------------------- */

    /* Media Geral */
    .container-749px {
        display: none;
    }

    .container-750px {
        display: block;
    }
}
